.applyflex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.feed-container{
  height: 100vh;
}

/* Header */
.container {
  height: 4vh;
  width: 82vw;
  justify-content: end;
  position: relative;
}
.search {
  display: flex;
  justify-content: space-between;
  width: 50%;
}
.search input {
  width: 90%;
  border-radius: 20px;
  padding: 5px 15px;
  border: none;
  color: white;
  outline: none;
}
.search .iconbox {
  font-size: 28px;
}
.mike {
  width: 6vh;
  height: 6vh;
  background-color: rgb(29, 29, 29);
  font-size: 30px;
  margin-left: 15px;
  border-radius: 20px;
}
.lastitems {
  height: 6vh;
  width: 20vw;
  justify-content: end;
}
.notificaton {
  font-size: 28px;
  height: 3vh;
  width: 3vw;
}
.profile {
  margin-left: 15px;
  align-self: center;
  width: 34px;
  height: 5vh;
}
.profile img {
  width: 100%;
  border-radius: 30px;
}
/* footer */
.post-container {
  margin-top: 10px;
  height: 95vh;
  width: 84vw;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 10px;
  padding: 10px;
  position: relative;
  overflow-y: scroll;
}
.devbox {
  height: 50vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* post item */
.postbox {
  flex-direction: column;
  width: 27vw;
  height: 45vh;
}
.postbox .top {
  width: 98%;
  height: 35vh;
  border-radius: 30px;
  border: 1px solid rgb(60, 60, 60);
  overflow: hidden;
}
.top img {
  width: 100%;
  border-radius: 20px;
}
.postbox .middle {
  margin: 5px;
  width: 90%;
  height: 3vh;
  display: flex;
  align-items: center;
}
.middle .options {
  margin-left: 5px;
}
.middle .title {
  overflow-x: hidden;
}
/* UserMenu */
.menubox {
  width: 20vw;
  position: absolute;
  top: 6vh;
  right: 3vw;
  background-color: rgb(43, 43, 43);
  display: flex;
  flex-direction: column;
  row-gap: 3px;
  padding: 10px;
  border-radius: 5px;
  z-index: 8;
}
.menubox hr {
  margin: 5px 0px;
  width: 100%;
  transform: scaleY(0.2);
}
.api-container {
  width: 18vw;
  height: 5vh;
  display: flex;
  justify-content: start;
  align-items: start;
  column-gap: 15px;
  padding: 5px 10px;
  border-radius: 10px;
}
.api-container:hover {
  cursor: pointer;
  background-color: rgb(90, 89, 89);
}
.api-container .icon {
  font-size: 20px;
}
.api-container .item {
  font-size: 17px;
}

/* profileGate */
.menu-head {
  width: 18.7vw;
  height: 14vh;
  display: flex;
  column-gap: 15px;
  border-bottom: 1px solid grey;
  padding-top: 10px;
}
.menu-head .propic {
  height: 8vh;
  width: 4vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
  background-color: black;
}
.propic img {
  height: 100%;
  border-radius: 50%;
}
.menu-head .yourinfo {
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 5px;
  width: 15vw;
  cursor: pointer;
}
.yourinfo p {
  color: rgb(33, 85, 239);
}

/* apioptions */
.resetpass {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: -6vw;
  top: -7vh;
  height: 100vh;
  width: 100vw;
  z-index: 6;
}
